<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
</head>
<body>

<p>
    <a href="/category">Back</a>
</p>

<h1>Create Category</h1>

<form method="post" th:object="${category}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>

</body>
</html>