<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>

<p><a href="/">Back</a></p>

<h1>List Category</h1>

<p><a href="/category/create">Create category</a></p>

<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="row : ${categories}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td><a th:href="@{/category/edit/__${row.id}__}">Edit</a></td>
        <td><a th:href="@{/category/delete/__${row.id}__}">Delete</a></td>
    </tr>
</table>

<div>
    <a th:if="${categories.hasPrevious()}" th:href="@{'/category'(page=${categories.number - 1})}">Previous</a>
    <span th:text="${categories.number + 1} + '/' + ${categories.totalPages}"></span>
    <a th:if="${categories.hasNext()}" th:href="@{'/category'(page=${categories.number + 1})}">Next</a>
</div>

</body>
</html>
