<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>

</head>
<body>

<p>
    <a href="/category">Category</a>
</p>

<div>
    <a th:if="${blogList.hasPrevious()}" th:href="@{'/'(page=${blogList.number - 1})}">Previous</a>
    <span th:text="${blogList.number + 1} + '/' + ${blogList.totalPages}"></span>
    <a th:if="${blogList.hasNext()}" th:href="@{'/'(page=${blogList.number + 1})}">Next</a>
</div>

<div style="display: grid; grid-template-columns: 70% auto">
    <div>
        <h3 class="m-4">List blog</h3>
        <table th:each="row : ${blogList}" class="table border border-dark ms-4" style="width: 500px">
            <tr>
                <td colspan="2">
                    <h4 th:text="${row.title}" style="margin: 0"></h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h5 th:text="${row.author}" style="margin: 0"></h5>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p th:text="${row.category.name}" style="margin: 0"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p th:text="${row.content}"></p>
                </td>
            </tr>
            <tr>
                <td>Created</td>
                <td th:text="${row.date}"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="d-flex justify-content-around">
                        <a th:href="@{/edit/__${row.id}__}" class="btn btn-success">Edit</a>
                        <a th:href="@{/delete/__${row.id}__}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <h3>Upload a blog</h3>
        <form action="/create" method="post" th:object="${blogForm}">
            <table>
                <tr>
                    <td>Title</td>
                    <td><input type="text" th:field="*{title}"></td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td><input type="text" th:field="*{author}"></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td><select th:field="*{category}">
                        <option th:each="row : ${allCategories}"
                                th:value="${row.id}"
                                th:text="${row.name}"
                        ></option>
                    </select></td>
                </tr>
                <tr>
                    <td>Content</td>
                    <td><textarea th:field="*{content}"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Post"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>